/* blog page */

/* truncate text if product name too long https: //css-tricks.com/flexbox-truncated-text/  */

.product-trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .top-margin {
    margin-top: 200px;
} */

.mt-4, .my-4 {
    margin-top: 10.5rem!important;
}

.blog-welcome-title {
    position: relative;
    top: 200px;
    background-color: #765032;
    color: #fff;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.new-post-button {
    position: relative;
    top: 200px;
    background-color: #765032;
    color: #000;
    margin: 10px;
    padding: 5px;
    text-transform: uppercase;
}

.new-post-button:hover {
    color: #ECB984;
    text-decoration: none;
}

.blog-card {
    margin: 10px;
}

.card-body {
    background-color: #765032 !important;
    text-align: center;
}

.blog-title {
    color: #000;
}

.blog-title:hover {
    color: #FFF;
    text-decoration: none;
}

.card-text {
    background-color: #765032;
    padding: 10px;
}

.blog-add-comment-link,
.blog-see-all-comment-link {
    color: #000;
}

.blog-add-comment-link:hover,
.blog-see-all-comment-link:hover {
    color: #fff;
    text-decoration: none;
}

/* post detail page */

.back-to-homepage-button,
.post-detail-edit-button,
.post-detail-delete-button {
    background-color: #765032;
    color: #fff;
    margin: 10px;
    padding: 5px;
    text-transform: uppercase;
}

.back-to-homepage-button:hover,
.post-detail-edit-button:hover,
.post-detail-delete-button:hover {
    color: #fff;
    text-decoration: none;
}

.add-review-box {
    background-color: #765032;
    padding: 10px;
}

.add-review-login-link {
    color: #000;
}

.add-review-login-link:hover {
    color: #FFFF;
    text-decoration: none;
}

.submit-comment-button,
.reset-comment-button {
    background-color: #765032;
    color: #fff;
    text-transform: uppercase;
}

.reset-comment-button,
.post-detail-delete-button {
    float: right;
}

.submit-comment-button:hover,
.reset-comment-button:hover {
    color: #FFF;
}

.delete-blog-modal-button {
    background-color: #765032;
    color: #fff !important;
    text-transform: uppercase !important;
    float: right;
}

.delete-blog-modal-button:hover {
    color: #fff !important;
}

.blog-delete-modal {
    background-color: #765038;
    color: #fff;
    text-transform: uppercase;
}

.modal-header {
    border-bottom: 1px;
}

.text-danger {
    font-weight: bolder;
}

.modal-footer {
    border-top: 1px solid;
}

.modal-header .close {
    color: #000;
}

.modal-header .close:hover {
    color: #765032;
}

.blog-modal-delete-button {
    background-color: #ECB984;
    color: #fff !important;
    border: 2px #000 solid;
}

a.text-danger:focus,
a.text-danger:hover,
.modal-delete-button:hover {
    color: #000 !important;
}

.blog-modal-cancel-button {
    background-color: #765032;
    color: #fff !important;
    text-transform: uppercase;
    border: 2px #000 solid;
}

.blog-modal-cancel-button:hover {
    background-color: #765032;
    color: #ffc107 !important;
    border: 2px solid;
}

/* add post page */

.add-blog-title-heading {
    background-color: #765032;
    color: #fff;
    font-size: 70px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid;
}

.add-new-post-box {
    opacity: 0.9;
}

.submit-add-post-button,
.cancel-add-post-button {
    background-color: #765032;
    color: #fff;
    text-transform: uppercase;
    border: 3px #000 solid !important;
    border-radius: 3px;
}

.submit-add-post-button:hover,
.cancel-add-post-button:hover {
    color: #000;
}

/* edit blog post page */

.edit-blog-title-heading {
    background-color: #765032;
    color: #fff;
    font-size: 70px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.edit-post-update-button,
.cancel-post-update-button {
    background-color: #ECB984;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid !important;
    border-radius: 3px;
}

.edit-post-update-button:hover,
.cancel-post-update-button:hover {
    color: #000;
}

@media (max-width: 320px) {

    /* blog page */

    .blog-welcome-title {
        font-size: 2rem;
    }

    /* add blog page */
    .add-blog-title-heading {
        font-size: 1.7rem;
    }

    .mt-4, .my-4 {
        margin-top: 15.5rem!important;
    }
}

@media (max-width: 576px) {

    /* blog page */

    .blog-card {
        margin: 20px;
    }
}

@media screen (min-width: 992px) {
    
    .mt-4, .my-4 {
        margin-top: 20.5rem!important;
    }
}