{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="edit-review-title-heading my-4 text-uppercase">Edit a Review</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 com-sm-8">
                <div class="card edit-review-post my-6">
                    <div class="card-body">
                        <form action="{% url 'edit_post' post.slug %}" method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="row">
                                <div class="col-6">
                                    <button class="edit-post-update-button btn btn-lg rounded-0 text-uppercase" type="submit">Update Post</button>
                                </div>
                                <div class="col-6">
                                    <a class="cancel-post-update-button btn btn-lg rounded-0 text-uppercase" href="{% url 'post_detail' post.slug %}" >
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}