{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{% block extra_js %}
    <!-- uni-form jquery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/4.3.0/js/jquery.uniform.bundled.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row my-4">
            <div class="col-12">
                <a href="{% url 'blog' %}" class="button back-to-homepage-button">
                    <i class="fas fa-chevron-left"></i> Back to review homepage</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card review-card">
                    <div class="card-body text-black">
                        <div class="card-title">
                            <p class="title-heading-small review-title">{{ post.title }}</p>
                        </div>
                    </div>
                    <div class="card-text review-card-content">
                        <p class="review-card-content">
                            {{ post.content | capfirst }}
                        </p>
                        <div class="review-content content">
                            <p class="blog-p">By: <span class="blog-small">{{ post.author }},
                                    {{ post.created_on|timesince }}
                                    ago </span></p>
                        </div>
                        {% if post.author == request.user %}
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'edit_post' post.slug %}" class="post-detail-edit-button btn btn-lg rounded-0 text-uppercase">Edit Post</a>
                                </div>
                                <div class="col">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="delete-review-modal-button btn btn-lg rounded-0 text-uppercase" data-toggle="modal" data-target="#delete-{{product.sku}}">
                                        Delete
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="delete-{{product.sku}}" tabindex="-1" role="dialog"
                                    aria-labelledby="deleteReviewTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content review-delete-modal">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteReviewTitle">Delete
                                                    {{ post.title }} review</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>
                                                    Are you sure you want to delete
                                                    <span> {{ post.title }}?</span>
                                                </h4>
                                                <p class="text-danger">This action cannot be undone!!!</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="review-modal-delete-button btn btn-lg rounded-0 text-uppercase" href="{% url 'delete_post' post.slug %}">Delete</a>
                                                <button type="button" class="review-modal-cancel-button btn btn-lg rounded-0 text-uppercase btn-secondary " data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col">
                                    <h4 class="add-review-box">
                                        Author, please <a class="add-review-login-link" href="{% url 'account_login' %}">log in</a> to edit this post.</h4>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card blog-card my-5 comments">
                    <div class="card-body text-black">
                        <div class="card-title">
                            <p class="comments-heading">Comments about {{ post.title }}</p>
                        </div>
                    </div>
                    <div class="card-text">
                        {% for comment in post.comments.all %}
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p class="blog-content">
                                            {{ comment.comment }}
                                        </p>
                                        <p>comment by: <span class="blog-small">{{ comment.comment_author }}
                                                {{ comment.date_added|timesince }} ago</span>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        {% empty %}
                            <div class="my-5">
                                {{ post.title }} has no replies yet...
                            </div>
                        {% endfor %}
                        <form method="post" action=".">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="field">
                                <div class="control">
                                    <div class="row">
                                        <div class="col">
                                            <button class="submit-comment-button btn btn-lg rounded-0 text-uppercase">Submit</button>
                                        </div>
                                        <div class="col">
                                            <button type="reset" class="reset-comment-button btn btn-lg rounded-0 text-uppercase">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}