{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row top-margin">
            <div class="col-12 my-auto">
                <h1 class="display-4 logo-font grounding-header text-center text-black">
                    GROUNDING - What really is it?
                </h1>
                <div class="row">
                    <div class="col-12 body-text d-flex align-items-center">
                        <div>
                            <p class="font-weight-bold grounding-headings">
                                What is Grounding?
                            </p>
                            <p>
                                Grounding also known as Earthing, is where you connect your bare feet or body to the Earth. 
                                Any positive ions are neutralized by the negative ions called electrons. 
                                Electrons move freely between the Earth and the grounded human body. 
                                The Earth’s electrons enters our body. When the body has an abundant amount of electrons, 
                                it improves our immune system in so many ways.  
                            </p>
                            <p class="font-weight-bold grounding-headings">
                                Some of the benefits of grounding are:
                            </p>
                            <p>
                                * It lowers inflammation
                            </p>
                            <p>
                                * Improves circulation
                            </p>
                            <p>
                                * Reduces stress & anxiety and promotes calmness
                            </p>
                            <p>
                                * Improves blood flow
                            </p>
                            <p>
                                * It aids in digestion
                            </p>
                            <p>
                                * Reduces pain
                            </p>
                            <p>
                                * Increases energy
                            </p>
                            <p>
                                * Improves sleep
                            </p>
                            <p>
                                * Helps with the body detox more efficiently
                            </p>
                            <p>
                                * Improves cortisol rhythm
                            </p>
                            <p>
                                * Reduces blood viscosity
                            </p>
                            <p>
                                * Thin the blood and improve blood pressure and flow
                            </p>
                            <p>
                                * Wound healing
                            </p>
                            <p>
                                * Oxygenates the tissue
                            </p>
                            <p>
                                Inflammation is the biggest cause of chronic diseases. Multiple studies have shown that grounding on a daily basis, 
                                dramatically reduces this inflammation. Stimulating the small nerves in the bottom of your feet and connect to the 
                                earth’s surface will restore your body to its natural state/rhythm.   
                            </p>
                            <p class="font-weight-bold grounding-headings">
                                So how do you ground yourself?
                            </p>
                            <p>
                                Go outside, take off your shoes and walk barefoot on the grass, dirt or sand for approx 10 minutes to start with. 
                                You will notice the benefits. The grass, dirt and sand are conductive surfaces from which your body will draw the 
                                Earth’s energy. The more time you spend outside whether barefoot, or lying down on the grass, the more you will 
                                notice the benefits. Grounding calms your body releasing stress and tension. So next time you are feeling overwhelmed, 
                                stressed or have aches and pains, go outside and try it out yourself. You won’t regret it!
                            </p>
                            <p class="font-weight-bold grounding-headings">
                                What happens when you live in the city?
                            </p>
                            <p>
                                If you find it difficult to connect to the Earth because you live in an apartment or in the city, there are plenty 
                                of grounding/earthing products on the market that will give you the same benefits eg grounding mats, shoes, pillows 
                                or sheets which connect to a grounded outlet.
                            </p>
                            <P>                                
                                <a href="https://www.earthingmovie.com/" target="_blank" rel="noopener" class="text-black">Watch the Earthing Movie on Youtube.</a>
                            </P>
                            <p>
                                Time for me to take off my shoes and enjoy the sun.
                            </p>
                            <p>
                                Happy Grounding everyone.
                            </p>
                            <p>
                                Brigitta xx
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img src="{{ MEDIA_URL }}grounding1.jpg" class="img-fluid grounding-image rounded grounding-margin" alt="Lady standing in a field">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="{{ MEDIA_URL }}grounding2.jpg" class="img-fluid grounding-image rounded grounding-margin" alt="A person walking on the sand">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="{{ MEDIA_URL }}grounding3.jpg" class="img-fluid grounding-image rounded grounding-margin" alt="A person standing on rocks by a river">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img src="{{ MEDIA_URL }}grounding4.jpg" class="img-fluid grounding-image rounded grounding-margin" alt="A person sitting on the grass showing their feet by a river bank">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="{{ MEDIA_URL }}grounding5.jpg" class="img-fluid grounding-image rounded grounding-margin" alt="A female lying down on the grass showing their head and neck">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="{{ MEDIA_URL }}grounding6.jpg" class="img-fluid grounding-image rounded grounding-margin" alt="Autumn leaves on the ground">
                    </div>
                </div>                       
            </div>
        </div>
    </div>
{% endblock %}