{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-auto">
                <h1 class="display-4 logo-font text-center text-black">
                    GROUNDED EARTH HOLISTICS
                </h1>
                <p class="body-text text-center">We specialise in healing, self care products and tuning therapy.</p>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img src="media/tuning-forks-crystal.jpeg" class="home-page-image rounded" alt="tuning forks and crystals">
                    </div>
                    <div class="col-6 body-text d-flex align-items-center">
                        <span>
                            <h2>Crystals, Candles, Mists & Ceremonial Cacao</h2>
                            <p>Come and see our beautiful range of different healing and self care products.</p>
                            <h4>
                                <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                            </h4>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 body-text d-flex align-items-center">
                        <span>
                            <h2>Biofield Tuning Therapy</h2>
                            <p>Tuning Therapy is Self Care 
                                <p><a href="">Read more</a></p>
                            </p>
                            <h4>
                                <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Book Now</a>
                            </h4>
                        </span>                        
                    </div>
                    <div class="col-6">
                        <img src="media/tuning-forks.jpeg" class="home-page-image rounded" alt="tuning forks">
                    </div>
                </div>                     
            </div>
        </div>
    </div>
{% endblock %}