{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row top-margin">
            <div class="col-12 my-auto">
                <h1 class="display-4 logo-font about-us-header text-center text-black">
                    Biofield Tuning - coming soon
                </h1>
                <div class="row">
                    <div class="col-12 body-text d-flex align-items-center">
                        <span>
                            <p>
                                "The term <em>biofield</em> refers to our body’s electrical system in its entirety 
                                - both the electric current that runs through our bodies, and the magnetic field that surrounds it.
                            </p>
                            <p>
                                Biofield Tuning is a sound therapy method that works directly with this system, seeing it as 
                                inextricably connected with our conscious and subconscious mind, including our memories”.
                                <a href="https://www.biofieldtuning.com/founder" class="text-black">Eileen Day McKusick</a> founder of 
                                Biofield Tuning.
                            </p>
                            <p>
                                It is a unique, non-medical therapeutic method that uses the sound waves produced by tuning forks in the 
                                biomagnetic field, or biofield, that surrounds the human body. It is a simple yet powerful method for 
                                shifting the rhythms and patterns of the body’s electrical system. The coherent input of a tuning fork 
                                gently supports the body in recognizing and correcting its own vibrational imbalances.
                            </p>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img src="{{ MEDIA_URL }}tuning-therapy-fork-against-head.jpg" class="img-fluid tuning-therapy-image rounded" alt="Lady lying down with tuning forks either side of her head">
                    </div>
                    <div class="col-12 col-md-6 body-text d-flex align-items-center">
                        <span>
                            <p class="font-weight-bold">Your Mind, Body and Soul</p>
                            <p>
                                Tuning therapy has been scientifically proven to have an overall positive effect on your health and immune 
                                system by improving your emotional well being, relaxation, mental clarity, sleep patterns and it can also 
                                reduce inflammation, stress & anxiety and promote calmness.
                            </p>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 body-text d-flex align-items-center">
                        <span>
                            <p class="font-weight-bold">The ultimate in relaxation</p>
                            <p>
                                Watch this space! Biofield Tuning sessions coming soon!
                            </p>
                            <p>
                                Your Biofield Tuning session will be carried out in a peaceful, relaxing bushland setting in the 
                                Sunshine Coast Hinterland. 
                            </p>
                        </span>                        
                    </div>
                    <div class="col-12 col-md-6">
                        <img src="{{ MEDIA_URL }}home-setup-tuning-therapy.jpg" class="img-fluid tuning-therapy-image rounded" alt="Tuning Therapy setup in home">
                    </div>
                </div>                     
            </div>
        </div>
    </div>
{% endblock %}