/* Review page */

/* truncate text if product name too long https: //css-tricks.com/flexbox-truncated-text/  */

.product-trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .top-margin {
    margin-top: 100px;
} */

.mt-4, .my-4 {
    margin-top: 5.5rem !important;
}

.mt-5, .my-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

a.nav-link {
    color: #000;
}

.review-welcome-title {
    /* position: relative; */
    /* top: 50px; */
    background-color: #765032;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.new-post-button {
    /* position: relative; */
    /* top: 200px; */
    background: black;
    color: white;
    min-width: 260px;
}

.new-post-button:hover,
.new-post-button:active,
.new-post-button:focus {
    background: #222;
    color: white !important;
}

.review-card {
    margin-left: 10px;
    margin-right: 10px;
}

.card-body {
    background-color: #ECB984 !important;
    text-align: center;
}

.review-title {
    color: #000;
}

.review-title:hover {
    color: #222;
    text-decoration: none;
}

.card-title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.card-text {
    background-color: #ECB984;
    padding: 10px;
}

.review-add-comment-link,
.review-see-all-comment-link {
    color: #000;
}

.review-add-comment-link:hover,
.review-see-all-comment-link:hover {
    color: #222;
    text-decoration: none;
}

/* post detail page */

.back-to-homepage-button {
    background-color: #765032;
    color: #fff;
    margin: 10px;
    padding: 5px;
    text-transform: uppercase;
}

.back-to-homepage-button:hover {
    color: #fff;
    text-decoration: none;
}

.post-detail-edit-button,
.delete-review-modal-button {
    background: black;
    color: white;
    font-size: 16px;
    min-width: 80px;
}

.post-detail-edit-button:hover,
.post-detail-edit-button:active,
.post-detail-edit-button:focus,
.delete-review-modal-button:hover,
.delete-review-modal-button:active,
.delete-review-modal-button:focus {
    background: #222;
    color: white !important;
}

.add-review-box {
    background-color: #765032;
    padding: 10px;
}

.add-review-login-link {
    color: #000;
}

.add-review-login-link:hover {
    color: #FFFF;
    text-decoration: none;
}

.comments-heading {
    font-size: 20px;
}

.submit-comment-button,
.reset-comment-button {
    background: black;
    color: #fff;
    font-size: 16px;
}

.reset-comment-button,
.post-detail-delete-button {
    float: right;
}

.submit-comment-button:hover,
.submit-comment-button:active,
.submit-comment-button:focus,
.reset-comment-button:hover,
.reset-comment-button:focus,
.reset-comment-button:active {
    background: #222;
    color: white !important;
}

.delete-review-modal-button {
    float: right;
}

.delete-review-modal-button:hover {
    color: #fff !important;
}

.review-delete-modal {
    background-color: #765038;
    color: #fff;
    text-transform: uppercase;
}

.modal-header {
    border-bottom: 1px;
}

.text-danger {
    font-weight: bolder;
}

.modal-footer {
    border-top: 1px solid;
}

.modal-header .close {
    color: #000;
}

.modal-header .close:hover {
    color: #765032;
}

.review-modal-delete-button {
    background: black;
    color: #fff;
    font-size: 16px;
}

.review-modal-delete-button:hover,
.review-modal-delete-button:active,
.review-modal-delete-button:focus {
    background: #222;
    color: white !important;
}

a.text-danger:focus,
a.text-danger:hover,
.modal-delete-button:hover {
    color: #000 !important;
}

.review-modal-cancel-button {
    background: black;
    color: #FFFF;
    font-size: 16px;
}

.review-modal-cancel-button:hover,
.review-modal-cancel-button:active,
.review-modal-cancel-button:focus {
    background: #222;
    color: white !important;
}

/* add post page */

.add-review-title-heading {
    background-color: #765032;
    color: #fff;
    font-size: 32px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid;
}

/* .add-new-post-box {
    opacity: 0.9;
} */

.submit-add-post-button,
.cancel-add-post-button {
    background: black;
    color: #fff;
    font-size: 16px;
    /* border: 3px #000 solid !important;
    border-radius: 3px; */
}

.submit-add-post-button:hover,
.submit-add-post-button:active,
.submit-add-post-button:focus,
.cancel-add-post-button:hover,
.cancel-add-post-button:active,
.cancel-add-post-button:focus {
    background: #222;
    color: white !important;
}

/* edit review post page */

.edit-review-title-heading {
    background-color: #765032;
    color: #fff;
    font-size: 32px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.edit-post-update-button,
.cancel-post-update-button {
    background: black;
    color: #fff;
    font-size: 16px;
}

.edit-post-update-button:hover,
.edit-post-update-button:active,
.edit-post-update-button:focus,
.cancel-post-update-button:hover
.cancel-post-update-button:active,
.cancel-post-update-button:focus {
    background: #222;
    color: white !important;
}

@media screen and (max-width: 320px) {

    /* Review page */

    .review-welcome-title {
        font-size: 2rem;
    }

    /* add review page */
    .add-review-title-heading {
        font-size: 2rem;
    }

    .mt-4, .my-4 {
        margin-top: 15.5rem !important;
    }
}

@media screen and (min-width: 576px) {

    /* review page */

    .mt-4, .my-4 {
        margin-top: 8.5rem !important;
    }

    .review-card {
        margin: 20px;
    }
}

@media (min-width: 768) {
    /* .mt-4, .my-4 {
        margin-top: 9.5rem !important;
    } */
}

@media screen and (min-width: 992px) {
    
    .mt-4, .my-4 {
        margin-top: 20.5rem !important;
    }
}

@media screen and (min-width: 1200px) {
    
    .mt-4, .my-4 {
        margin-top: 15.5rem !important;
    }
}