/* Review page */

/* truncate text if product name too long https: //css-tricks.com/flexbox-truncated-text/  */

.product-trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mt-4, .my-4 {
    margin-top: 5.5rem !important;
}

.mt-5, .my-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

a.nav-link {
    color: #000;
}

.container-fluid {
    margin-bottom: 20px;
}

.review-welcome-title,
.add-review-title-heading,
.edit-review-title-heading {
    background-color: #765032;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.new-post-button:hover,
.new-post-button:active,
.new-post-button:focus,
.submit-add-post-button:hover,
.submit-add-post-button:active,
.submit-add-post-button:focus,
.cancel-add-post-button:hover,
.cancel-add-post-button:active,
.cancel-add-post-button:focus,
.post-detail-edit-button:hover,
.post-detail-edit-button:active,
.post-detail-edit-button:focus,
.edit-post-update-button:hover,
.edit-post-update-button:active,
.edit-post-update-button:focus,
.cancel-post-update-button:hover,
.cancel-post-update-button:active,
.cancel-post-update-button:focus,
.delete-review-modal-button:hover,
.delete-review-modal-button:active,
.delete-review-modal-button:focus,
.submit-comment-button:hover,
.submit-comment-button:active,
.submit-comment-button:focus,
.reset-comment-button:hover,
.reset-comment-button:focus,
.reset-comment-button:active,
.review-modal-cancel-button:hover,
.review-modal-cancel-button:active,
.review-modal-cancel-button:focus,
.review-modal-delete-button:hover,
.review-modal-delete-button:active,
.review-modal-delete-button:focus {
    background: #222;
    color: white !important;
}

.review-card {
    margin-left: 10px;
    margin-right: 10px;
}

.card-body {
    background-color: #ECB984 !important;
    text-align: center;
}

.review-title {
    color: #000;
}

.review-title:hover,
.review-add-comment-link:hover,
.review-see-all-comment-link:hover {
    color: #222;
    text-decoration: none;
}

.card-title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.card-text {
    background-color: #ECB984;
    padding: 10px;
}

.review-add-comment-link,
.review-see-all-comment-link {
    color: #000;
}

/* post detail page */

.back-to-homepage-button {
    background-color: #765032;
    color: #fff;
    margin: 10px;
    padding: 5px;
    text-transform: uppercase;
}

.back-to-homepage-button:hover {
    color: #fff;
    text-decoration: none;
}

.new-post-button,
.post-detail-edit-button,
.delete-review-modal-button,
.submit-comment-button,
.reset-comment-button,
.review-modal-delete-button,
.review-modal-cancel-button,
.submit-add-post-button,
.cancel-add-post-button,
.edit-post-update-button,
.cancel-post-update-button {
    background: black;
    color: white;
    font-size: 14px;
}

.add-review-box {
    background-color: #765032;
    padding: 10px;
}

.add-review-login-link {
    color: #000;
}

.add-review-login-link:hover {
    color: #FFFF;
    text-decoration: none;
}

.comments-heading {
    font-size: 20px;
}

.reset-comment-button,
.post-detail-delete-button,
.delete-review-modal-button  {
    float: right;
}

.delete-review-modal-button:hover {
    color: #fff !important;
}

.review-delete-modal {
    background-color: #765038;
    color: #fff;
    text-transform: uppercase;
}

.modal-header {
    border-bottom: 1px;
}

.modal-footer {
    border-top: 1px solid;
}

.modal-header .close {
    color: #000;
}

.modal-header .close:hover {
    color: #765032;
}

a.text-danger:focus,
a.text-danger:hover,
.modal-delete-button:hover {
    color: #000 !important;
}

/* ------------------ Media Queries */

@media screen and (max-width: 320px) {

    .mt-4, .my-4 {
        margin-top: 15rem !important;
    }
}

@media screen and (min-width: 576px) {

    .mt-4, .my-4 {
        margin-top: 8.5rem !important;
    }
}

@media screen and (min-width: 992px) {
    
    .mt-4, .my-4 {
        margin-top: 13rem !important;
    }
}

@media screen and (min-width: 1200px) {
    
    .mt-4, .my-4 {
        margin-top: 15rem !important;
    }
}