<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto nav-menu">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="holistic-services" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Holistic Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="holistic-services">
                <a href="{% url 'tuning_therapy' %}" class="dropdown-item">Tuning Therapy</a>
                <a href="{% url 'grounding' %}" class="dropdown-item">Grounding</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="crystals" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Crystals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="crystals">
                <a href="{% url 'products' %}?category=slabs" class="dropdown-item">Slabs</a>
                <a href="{% url 'products' %}?category=carvings" class="dropdown-item">Carvings</a>
                <a href="{% url 'products' %}?category=spheres" class="dropdown-item">Spheres</a>
                <a href="{% url 'products' %}?category=towers" class="dropdown-item">Towers</a>
                <a href="{% url 'products' %}?category=clusters" class="dropdown-item">Clusters</a>
                <a href="{% url 'products' %}?category=geodes" class="dropdown-item">Geodes</a>
                <a href="{% url 'products' %}?category=roughs" class="dropdown-item">Roughs</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=slabs,carvings,spheres,towers,clusters,geodes,roughs,accessories" class="dropdown-item">All Crystals</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="candles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Candles & Candle Holders
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="candles">
                <a href="{% url 'products' %}?category=candles" class="dropdown-item">Candles</a>
                <a href="{% url 'products' %}?category=candle_holders" class="dropdown-item">Candle Holders</a>
        </li>        
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bath_luxuries" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bath Luxuries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bath_luxuries">
                <a href="{% url 'products' %}?category=bath_salts" class="dropdown-item">Bath Salts</a>
                <a href="{% url 'products' %}?category=scrubs" class="dropdown-item">Body Scrubs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cacao" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cacao
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cacao">
                <a href="{% url 'products' %}?category=cacao" class="dropdown-item">Cacao</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gift_packs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Packs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gift_packs">
                <a href="{% url 'products' %}?category=gift_packs" class="dropdown-item">Gift Packs</a>
            </div>
        </li>
    </ul>
</div>