<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="holistic-services" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Holistic Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="holistic-services">
                <a href="" class="dropdown-item">Tuning Therapy</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="crystals" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Crystals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="crystals">
                <a href="{% url 'products' %}?category=slabs" class="dropdown-item">Slabs</a>
                <a href="{% url 'products' %}?category=carvings" class="dropdown-item">Carvings</a>
                <a href="{% url 'products' %}?category=spheres" class="dropdown-item">Spheres</a>
                <a href="{% url 'products' %}?category=towers" class="dropdown-item">Towers</a>
                <a href="{% url 'products' %}?category=clusters" class="dropdown-item">Clusters</a>
                <a href="{% url 'products' %}?category=geodes" class="dropdown-item">Geodes</a>
                <a href="{% url 'products' %}?category=roughs" class="dropdown-item">Roughs</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=slabs,carvings,spheres,towers,clusters,geodes,roughs,accessories" class="dropdown-item">All Crystals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="candles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Candles
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="incense" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Incense
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hako-incense">
                <a href="{% url 'products' %}?category=hako_incense" class="dropdown-item">Hako Incense</a>
                <a href="{% url 'products' %}?category=insect_repellent" class="dropdown-item">Natural Insect Repellent</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gift-packs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Packs
            </a>
        </li>
    </ul>
</div>